
.image-container{
    transition: 0.5s;
    position: relative;    

}
.arrange{
    position: absolute;
    top:0%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    text-align: right;
}
.fa{
    font-size: 2rem;
    color:white;
    padding: 10px;
}
.icons{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    width: 30%;

}
.fa-tarsh-o{
    position: absolute;
    right: 0;
    top: 0;
}
.hide{
    display: none;
}